<h1 style="text-align: center; margin-bottom: 300px;">Thank you! Your order has been received.</h1>
<h3 style="text-align: center; margin-bottom: 300px;">An Email has been sent with your receipt.</h3>


<!--<h3>Trans_id = <%= params["id"] %></h3>-->
