<div class="maindiv">
  <p class="bigtitle">Get in touch</p>
  <hr />
  <div class="seconddiv">
    <p class="titletext">Phone</p> &nbsp;&nbsp;&nbsp;&nbsp;<%= @designs.email %><br /><br />
    <p class="titletext">Email</p> &nbsp;&nbsp;&nbsp;&nbsp;<%= @designs.phone %><br /><br />
    <p class="titletext">Address</p> &nbsp;&nbsp;&nbsp;&nbsp;<%= @designs.address %>
  </div>
</div>






